/* color variables */
:root{
    --darkBrown: #1f0c07;
}

/* header styling */
.styled-header {
    display: flex;
    background: var(--darkBrown);
    color: orange;
    font-size: 20px;
    font-style: italic;
}

.logo
.description {
    width: 50%;
}

.logo {
    margin-top: 5px;
}

.description {
    text-align: right;
}