/* color variables */
:root{
    --darkBrown: #1f0c07;
}

/* header */
.styled-header {

    background: var(--darkBrown);
    color: orange;
    font-size: 20px;
    font-style: italic;
}

.logo {
    margin-top: 5px;
    display: inline-block;
}

.description {
    float: right;
    margin-right: 25px;
}